# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
obj/
include/
lib/
lib64/
src/
parts/
dist/
build/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/
docs/_site/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace

# Virtualenv
.vscode/.ropeproject
.ropeproject

# Environments
.env
.envrc
.tmp
.python-version

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Encrypted authinfo files
*.authinfo.pgp

# Env files
*.env

# Encrypted files
*.key

# Backup files
*~
*.bak
*.swp
*.swo
*.swn

app/__pycache__/